.catalog-page {
  display: grid;
  grid-template-columns: 1fr 4fr;  
  font-family: 'Montserrat', sans-serif;
}

.sidebar ul {
  margin: 100px 30px 0 40px;
}

.sidebar li {
  display: block;
  margin: 40px 0;
  padding: 0 15px;
  font-size: 24px;
  font-weight: 600;
}

.sidebar .selected {
  border-left: 10px solid rgb(226, 221, 221);
  padding-left: 5px;
}

.catalog-content {
  display: flex;
  flex-wrap: wrap;
}