.catalog-page {

  display: flex;
  flex-direction: column;
}

.catalog-content {
  margin: auto;
}

.sidebar ul {
  margin: 100px 30px 0 40px;
}

.sidebar li {
  display: block;
  margin: 40px 0;
  padding: 0 15px;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.sidebar .selected {
  border-left: 10px solid rgb(226, 221, 221);
  padding-left: 5px;
}


@media only screen and (min-width: 600px) {
  .catalog-page {
    display: grid;
    grid-template-columns: 1fr 4fr;  
  }

  .catalog-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
}