.main-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
}

.main-bar  {
  display: flex;
}

.main-bar div {
  list-style-type: none;
  margin-right: 100px;
}

.cart-number {
  position: absolute;
  margin-top: 9px;
  font-size: 14px;
  width: 28px ;
  text-align: center;
  font-weight: 600;
}