.home {
  background-image: url("../../img/home-screen.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.message-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 28vw;
  font-family: 'Montserrat', sans-serif;
  margin-left: 50px;

}

.message-button p {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;

}
h1 {
  font-size: 55px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.message-button button {

  width: 135px;
  height: 40px;
  font-size: 22px;
  border: 0;
  padding: 8px;
  background-color: rgb(22 21 21);
  font-family: 'Montserrat', sans-serif;  
  cursor: pointer;
}

@media only screen and (max-width: 420px) {
  .message-button {
   margin-top: 100px;
  }

  .message-button p {
    display: none;
  }

  h1 {
    text-align: center;
  }
}