.quantity-selector {
  display: flex;
  border: 1px solid white;
  border-radius: 40px;
  gap: 10px;
  padding: 0 15px;
  margin: auto;
  align-items: center;
}

.quantity-selector p {
  font-size: 15px;  
  font-family: 'Menlo', 'Lucida Console', 'Monaco', 'Consolas', monospace;
}

.plus {
  margin-bottom: 5px;
}