* {
  margin: 0;
  padding: 0;
  color : rgb(226, 221, 221);
  font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
}

.page {
  background-image: linear-gradient(135deg, rgb(100 101 106), rgb(9 9 12));
}

.main {
  min-height: 97vh;
}